.form-control
{
    width: 300px;
}

#forms
{
    position: absolute;
    left:250px;
    top:100px;
}

.card{
    width: 1000px;
    height: 400px;
    background-color: black;
    color: white;
}

h1{
    position: absolute;
    left:300px;
}
a{
    color:greenyellow;
    position: absolute;
    right: -50px;
}

input[type=text]
{
    color: red;
}

